/*Dia11*/
body {
    background-color: #000000;
}

.one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto; 
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    gap: 0px; 
    
}

.one > div {
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px solid #111111;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative;
    width: 100%;
    height: 109%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


.Dino1, .Anitext, .Dino2 {
    grid-column: 1; 
}


.textico {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.Dino2 {
    grid-column: span 2;
    width: 200%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


iframe {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    transform: scale(1.2);  
    top: 0;
    left: 0;
}


.texto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Dino2 iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transform-origin: center;   
    transform: scale(1.6); 
}
.two {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(2, 1fr); 
    
    max-width: 800px;
    margin: 0 auto;
}

.two > div {
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px solid #0e0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 30px;
}

body {
    background-color: #000000;
}

.one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto; 
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    gap: 0px;
    
}

.one > div {
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px solid #111111;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 109%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


.Dino1, .Anitext, .Dino2 {
    grid-column: 1; 
}


.textico {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.Dino2 {
    grid-column: span 2;
    width: 200%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: scale(1.2);
    top: 0;
    left: 0;
}


.textico img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.Dino2 iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: relative; 
    transform-origin: center;    
    transform: scale(1.6);
}
.two {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(2, 1fr); 
    
    max-width: 800px;
    margin: 0 auto;
}

.two > div {
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px solid #0e0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 30px;
}

.textoverde {
    grid-column: 1;
    grid-row: 1; 
}

.rino {
    grid-column: 1;
    grid-row: 2; 
}

.collage {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1 / 3; 
}

.textoverde img,
.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rino iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textoverde {
    grid-column: 1;
    grid-row: 1; 
}

.rino {
    grid-column: 1;
    grid-row: 2; 
}

.collage {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1 / 3; 
}


.textoverde img,
.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rino iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Desarrollado por: Juan Jose Abril Roman C.C: 1097495953*/